@keyframes float {
    0%,
    100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-10px) scale(1.03);
    }
}

.custom-text-shadow {
    color: rgba(255, 255, 255, 0.74);
    text-shadow: 1px 2px 25px rgba(252, 0, 0, 0.6);
}

.custom-linear-bg {
    background: linear-gradient(
            150deg,
            rgba(0, 0, 0, 0) 35%,
            rgba(194, 1, 1, 0.4) 170%
        ),
        rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

.red-mask {
    background: radial-gradient(ellipse, #ff000036 0%, #000000 90%);
}

.carousel-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
    perspective-origin: 50% 50%;
    z-index: 1;
    height: 600px;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: 350px;
    height: 400px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: transform 0.5s ease;
    z-index: 1;
}

.card-wrapper {
    position: absolute;
    width: 350px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #111; /* fallback color */
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    transform: rotateY(0deg) translateZ(0);
    overflow: hidden;
    pointer-events: auto;
    z-index: 2;
}
.card > * {
    position: relative;
    z-index: 1;
}

.card-wrapper .card {
    pointer-events: auto; /* Re-enable only the card */
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../public/assets/images/card-bg-img.png");
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
    transform-style: flat;
    transition: opacity 0.7s ease; /* Add this line to animate */
}

.card.active-card::before {
    opacity: 0.4;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(
            from 181.06deg at 50% 50%,
            rgba(187, 18, 18, 0.4) 0deg,
            rgba(0, 0, 0, 0) 172.66deg,
            #bb121259 281.25deg,
            rgba(187, 18, 18, 0.4) 360deg
        ),
        rgba(255, 255, 255, 0.05);
    opacity: 0.5;
    border: 1.21293px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    box-sizing: border-box;
    pointer-events: none;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
}

.card p {
    /* font-size: 0.9rem; */
    color: #aaa;
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.623);
    padding: 4px 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.btn span {
    position: relative;
    z-index: 2;
}

.card-wrapper:nth-child(1) {
    transform: rotateY(0deg) translateZ(380px);
}
.card-wrapper:nth-child(2) {
    transform: rotateY(60deg) translateZ(380px);
}
.card-wrapper:nth-child(3) {
    transform: rotateY(120deg) translateZ(380px);
}
.card-wrapper:nth-child(4) {
    transform: rotateY(180deg) translateZ(380px);
}
.card-wrapper:nth-child(5) {
    transform: rotateY(240deg) translateZ(380px);
}
.card-wrapper:nth-child(6) {
    transform: rotateY(300deg) translateZ(380px);
}

.controls {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    gap: 20px;
    z-index: 2;
}

.control-btn {
    /* padding: 20px 20px; */
    background: rgba(255, 255, 255, 0.452);
    color: white;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn:hover {
    background: rgba(255, 62, 62, 1);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .carousel {
        width: 250px;
        height: 350px;
    }

    .card-wrapper {
        width: 250px;
        height: 350px;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.8rem;
    }
}
